body{
    background-color: bisque;
    color:black;
    font-family: cursive;
    font: x-large;
}
h1{
    color:black;
    alignSelf:"center"
}
p{
    color:black;
    font-size: x-large;
}
.images{
    alignItems:"center"
        position: relative;
            display: flex;
	          position: center;
            align-items: space-around;
	          justify-content:center;
}
.Header{
    textAlign:"center";
    font-size:30px;
    display:flex;
    marginTop:30px;
}
.text{
	font-size:30
}
