body{
    background-color: bisque;
    color:black;
    font-family: cursive;
    font: x-large;
}
h1{
    color:black;
    alignSelf:"center"
}
p{
    color:black;
    font-size: x-large;
}
.images{
    alignItems:"center"
}
.Header{
    textAlign:"center";
    font-size:30px;
    display:flex;
}
